auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
node-linker=isolated
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=babel-preset-expo
public-hoist-pattern[]=metro*
prefer-workspace-packages=true
link-workspace-packages=true
save-workspace-protocol=rolling
